article {
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	margin: 20px 0;
	height: 75px;
	width: 500px;
	overflow: hidden;
}

.main_content img, h3{
	display: inline;
	padding: 0px 0px 10px 10px;
	line-height: 100%;
	vertical-align: middle;
}

article img {
	width: 100px;
}
.main_content img:hover {
	cursor:pointer;
}

h3 {
	width: 500px;
}
.price {
	display: inline;
	float: right;
	line-height: 75px;
	vertical-align: middle;
}
