html {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #404040;
	background: #FFF;
	overflow-y: scroll;
}

body {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	background: #FFF;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

header {
	width: 960px;
	height: 105px;
	margin: 0 auto;
	position: fixed;
	top: 0;
	background: #FFF;
	background-image: url('../images/header_shelf.png');
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
	z-index: 2;
}

header a {
}
header a img {
	width: 260px;
}

.topnav {
	width: 944px;
	margin: 0 auto;
	padding: 5px;
	border: 3px solid #404040;
	border-top: 1px solid #404040;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: fixed;
	top: 105px;
	z-index: 1;
	background-color: #EEE;
}
.topnavleft {
	float: left;
}
.topnavright {
	float: right;
}
.topnav a {
	margin: 0 10px;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	color: #404040;
	text-shadow: 1px 1px 1px #FFF;
}
.topnav a:hover {
	color: #87000F;
	text-shadow: 1px 1px 1px #404040;
}

.main_content {
	width: 880px;
	min-height: 100%;
	margin: 130px auto 0 auto;
	padding: 10px 20px;
	padding-bottom: 45px;
	box-shadow: 0px 0px 10px #404040;
	border: 1px solid #FFF;
	background: #FFF;
}

aside {
	height: 600px;
	width: 300px;
	border: 2px solid #333F50;
	overflow: visible;
	float: right;
	margin-top: 15px;
	margin-right: -36px;
	padding: 10px;
	background: #FFF;
}

aside img {
	width: 200px;
}

ul {
	width: 300px;
	clear: left;
	list-style-type: none;
	padding: 0;
}

.form {
	float: left;
}
.form li{
	margin: 5px 0;
}
.form li input {
	float: right;
}

.gallery {
	width: 800px;
	height: 130px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding: 0;
}
.gallery ul {
	width: 20000em;
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}
.gallery ul li {
	margin: 0 5px;
	position: relative;
	float: left;
}
.gallery ul li img{
	width: 150px;
	height: 100px;
	position: relative;
}

.us {
	width: 500px;
	float: left;
	text-align: center;
	margin: 0 auto 10px auto;
}
.us h2 {
	border: 2px solid #404040;
	margin: 0;
}
.us img {
	width: 200px;
}
.us span, .us img {
	line-height: 100%;
	vertical-align: middle;
}
.us span {
	padding: 10px;
}

footer {
	width: 954px;
	height: 40px;
	border: 3px solid #404040;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: fixed;
	bottom: 0;
	text-align: center;
	background: #FFF;
}

footer span {
	line-height: 40px;
	vertical-align: middle;
}
